sudo: required
matrix:
  include:
  - language: generic
    python: 3.5
    os: osx
    env: pyver=3.5 pydist=homebrew
install:
- echo "Instaling python version $pyver, dist=$pydist"
- if [ $pyver != pypy ] && [ $pyver != pypy3 ]; then git clone https://github.com/gappleto97/terryfy;
  source terryfy/travis_tools.sh; get_python_environment  $pydist $pyver; fi
- if [ $pyver == pypy ] || [ $pyver == pypy3 ]; then brew install $pyver; PYTHON_EXE=$pyver;
  curl $GET_PIP_URL > $DOWNLOADS_SDIR/get-pip.py; sudo $PYTHON_EXE $DOWNLOADS_SDIR/get-pip.py
  --ignore-installed; PIP_CMD="sudo $PYTHON_EXE -m pip"; export PYTHON_EXE PIP_CMD;
  fi
- "$PIP_CMD install virtualenv"
- virtualenv -p $PYTHON_EXE venv
- source venv/bin/activate
- if [[ "$TRAVIS_OS_NAME" == "osx" ]] ; then "./setup_osx.sh" && "./install_osx.sh" && rvm use 2.2;
  else "./install_linux.sh"; fi
env:
  global:
    secure: FfWTn4KRqVz9yp9rZoPpfABxJZGpcLDXRmFE7MDuUAPyJCA6v4C9xdNPaUHF7ClV8Q97/vegZsbukpBmeagdu2VQIzLaL4elCLcRVxO1p7ovNTB1ZRhIB4h52z2tZB9/v4l/LeTYNfrQukdy0CqwoAoT4h82pERqnIz0+cQNiZuh6iPzmZIE6NWfq8WWfd+BAZF5ItvxboFyQyY7CBHJVV212IHkgQM4O2GAjR+ZfFbgo6eBQYr0fDmRguIRTZwcV8+8JVkzfChubrn39pi6qxqTt+EnVAv1qaL/zX8M9Luh+PMpY0L9Bfx6caw4aQOdEAM3nz7npxoIajhGWar+hRdCMnZGvlpnX5Jb5mWj2CZJNEWwDS6fPec6qPQ0JJ6iU5vc6Vfvtmu3pumxd07p+xyRICC6IGotcOmbjl2eiWDgZuzKS6ry3X7NetvzNphTFJCy8vsTnuB4zkSG+pSHdAV10VKo8gocjWmvIjFXnoY3pf8eLiDPET/K8eHQaFMcdGfJpSDYMs/DW6vS0YcZMLN1D8DPYCOJ0hMIeNvb8vTgFsBdlXNl/wjRtNBYf+gdZrDK+4nUlQuqCeLhGh4S5GfMqLAMt1jxwMnHPajyOZa1pzl141rPYB7ZYT6qn/SE52/4I8fCr9vb6clZbQFFdlXp6rINYt0EMWvDx4OXRsc=
before_install:
- openssl aes-256-cbc -K $encrypted_a81b52b60625_key -iv $encrypted_a81b52b60625_iv -in installer/key.p12.travis.enc -out installer/key.p12 -d
- pushd installer && ./add_key.sh && popd
after_install:
- pushd installer && remove_key.sh && popd
deploy:
- provider: s3
  access_key_id: AKIAJGDGIKX75HBQ2AQA
  secret_access_key:
    secure: otDEzaHhFfa+mqACXumSmc6/Dkl1NXUshfDUV67cd1GPsEWCWjYihPZ2qLpp36WVkVeU2ZcYyhkwYJaWMe+W6hGkzEiufiGqIGhXR2QDgJKPJ9/hg/riYpGK2n1HEPkqwv3jf3AHhSX+t9H+5HACpkFVj7fqc3m/j0e0zRFQl7y9RqG0qz5fDxKV+RdEZo0gwaHzB4TBjvEB1RQoguf5BmkzS/vChSKjbtX3bQf5cQvDMK9EhJ1OzTSWpOzwG9ke7bQJY+cbtI64mGRh8NqwdhF2eoZT13BSXLtutDg2kNkmovuZ+jShFUVm3Ta4UfgUzoBxrIPCxFFUbae5rexFGOmOHyT67ierWvxSBek8/Z865sD0uyqsWlzanJZoMmF/R9AV5xHd1v5H0O99kvX56v48WYcD82MeF1EAIo6s89+Ue9QFE9hfbygsUzohwB34ubj++zaXBiiqicWOQQQz4ERonaOhqDoOmnTLod+hO1Efz/1ZRXf9PH4ULCJFQW9hCfGGxHheZ/F8MRrATrn+Oon8gK8/evBJ1cnrVKMEq4VStXDTq1qYZKW6NzIyCqkfaC9djKs/on/KMaJUcTafpJsytlGAbp0o9wqNpkEvUkzn9Ol0gNZEhg4QmP5eQOcAJIcLMQA1npng5KayT1L8N2Ek77YgJuoA1CWbmoAlvbE=
  bucket: binaries.particle.io
  local_dir: installer/dist
  upload-dir: updater
  acl: public_read
  skip_cleanup: true
  on:
    tags: true
- provider: releases
  file: installer/dist/*.zip
  file_glob: true
  skip_cleanup: true
  api_key:
    secure: g3WZUMoQFs/ajwqJiqnvii5XBm4/JN+0e8S8/6pURRX58jo5Khr85PUovc7XR9V4MQZvyTDSybhxmruYr7PoavmnFRajG266P/mSSNewmAX8/buzKMcI270Rzauf/Y1Qx5KvU7PwpT1sm/+1ada8rSGK//ZmFZ+hZ+gmBORIgP3m1iQ9SyrHnjIRe5aBEc1cHaW+4DsNytwZQCfxbJLbqc0D4VKeeIaCgO+nC0LYh8LICuxetdhNpKM6dFi4/yxoz1qbRqIM+up2T/nsA49zk7l25Uy1JdLzcLYl2FajFlhRDUW6ifalGCmdbyVFRpgpNoYHoM2wjV+KC/Gczv3yHVrGeiBpTXD9Spzthr4qtGhN5GAPPPkFQCSjVEZFZ9RjJKDAJqCIGGNbzLTptMwZEeOc6OPWgpKJ1TaDyHooB5Fr4UxgPTWTgbtv+9V534WbPpkDwhnDoo06tsGmPxF/SUsI32UfvM8md5hwLbVN+vakGCyQlqz9q0pWETnPygfp7MzCrzIQfM36Z/5b8oWI1Y64xq++uoLiknPX7nzoYibiSrakFPaJ1uJP6HjrYC/0D96itjBtKTBjbEoKEJln+ve9CwiU0dqkuc7Dm6nz4ywpyaTlWqojh64T8x8Km5tC3G4+BKzzKH9SPyMsxG7zNHQuXGvGCtTr8OzkbNXOV8E=
  on:
    tags: true
