os:
- osx
language: generic
sudo: required
install:
- if [[ "$TRAVIS_OS_NAME" == "osx" ]] ; then "./setup_osx.sh" && "./install_osx.sh";
  else "./install_linux.sh"; fi
env:
  global:
    - secure: tqP3xUHLZQFVGztW2tECV6nookV9+q9X6nSKgK4gceT6bQ4JKQsZ/bNlHxIbA+8GpClSxNpJ+BbMgujataSBUACMr/MVnr6DhP3poqpCPlCRF+1dA6SvchXOPlywpxd6/xYvti6t9puZ2up9TUaBJWqWcbSk6dCUgX3NbBdCSbBmc1VbLPWBWyoVDZxF/dK8dM8q/5qvOqZEo2QXmEBm9rpASw3kuIWMhUxhcLMksjROvL/yEdoDJ1fiVrUuZeT5tkelX36fRrjFD5xvEhh4nXqbLRVtlHeV2H7KEcKELPB8DC41dKVa9FSY5ABhDsv+Wap+8cGJG2ou/Sog4oo0JqxvU8Bn1Y70sCbUbKt1KPRzdhfEwd4em/FWIEvkQTK9fcD5bxsNEZsx6+puwNpumOlFJ6BRSanfWB9kJ8IR/i5sWOqW2y4czQzRkmQ5kpFIpoZRS+QoOW4LddFqrqUkTzCXfRmuXs8nYNdT7aZW1GoCPYXTEIPDw/V0ZE188F5/Qu3sqYLCiw8u8Ccedzd+GRPzNhu/31q9mCFebtmvb1uPrO6dMNt7Rnp3KSik6HGuBZQmb2xJmENKHU87BIvivEybOsQHeRoNiJd0ZCWAp37OGQ92Jyp1pGsl/+dW7QW20/LEULQCZh3MuRb1uLv5cqOSn6lZBmaeJ/fG88QoIiw=
    - secure: FbGCizI7KeUsp7l5LH43hMWACKH5DeXR/36ubLaentKEyGXj/UEiWqA4EA4c0/mZ4CBV/Ppob9jHP7HsX+gCmoCSLj4azDevtocCcMa53qaZLXW9Vtiul3QBCMfEIG6YMoqO0d/3YPmopOctvXco0Z2qaG37S0DMFIR2+a56TNbFknvHyfcPBz8WESo8N36JkodSHzRF5kXFKRHeynGTkicj4nkZoYa0xA+zviOr4tNH1imsVVqpy4qOiqY00FOV3vSf3XXzBzG8hEUc+0QSF+6lALYUct7HLb4jiNnibajdaUqOj1HJbwsY4udAHr8X51A2eSxZYO6GO0XAlIUA2RXpElFx6aa4vI6NJc1B/FGC22hLOxTVQCzNR/JzxpqkCwDg+V0uEH6UXX5LeyHAb3pJrAZyQOE4onYg5zk7cPqDYl6oJCshLBVgJ7R2zILP3fd+uWNpg8YH1FXAFKQXKmyWuytx9X2Hxfj6AOxkX5RK9Uzs71HznUBg2r1jp93TEv+o4k9rBciYdyWlK4ZKZbzGPG9JgpEe8dcP9eV0pGgW/9++i0vBvGNHYLHPlHAYJTLgsFX0t4TfINeN6MV69ne5J8uidnFFpw4otNqzVt1WvcSwtdpcxVeQA2y/EIy/d0FcR7JRjIz55T2zn5olfpaVajJQwoh2KAeTvbhp0Yg=
before_install:
- openssl aes-256-cbc -K $encrypted_3661a0358acc_key -iv $encrypted_3661a0358acc_iv
  -in installer/key.p12.travis.enc -out installer/key.p12 -d

deploy:
  provider: s3
  access_key_id: AKIAJGDGIKX75HBQ2AQA
  secret_access_key:
    secure: otDEzaHhFfa+mqACXumSmc6/Dkl1NXUshfDUV67cd1GPsEWCWjYihPZ2qLpp36WVkVeU2ZcYyhkwYJaWMe+W6hGkzEiufiGqIGhXR2QDgJKPJ9/hg/riYpGK2n1HEPkqwv3jf3AHhSX+t9H+5HACpkFVj7fqc3m/j0e0zRFQl7y9RqG0qz5fDxKV+RdEZo0gwaHzB4TBjvEB1RQoguf5BmkzS/vChSKjbtX3bQf5cQvDMK9EhJ1OzTSWpOzwG9ke7bQJY+cbtI64mGRh8NqwdhF2eoZT13BSXLtutDg2kNkmovuZ+jShFUVm3Ta4UfgUzoBxrIPCxFFUbae5rexFGOmOHyT67ierWvxSBek8/Z865sD0uyqsWlzanJZoMmF/R9AV5xHd1v5H0O99kvX56v48WYcD82MeF1EAIo6s89+Ue9QFE9hfbygsUzohwB34ubj++zaXBiiqicWOQQQz4ERonaOhqDoOmnTLod+hO1Efz/1ZRXf9PH4ULCJFQW9hCfGGxHheZ/F8MRrATrn+Oon8gK8/evBJ1cnrVKMEq4VStXDTq1qYZKW6NzIyCqkfaC9djKs/on/KMaJUcTafpJsytlGAbp0o9wqNpkEvUkzn9Ol0gNZEhg4QmP5eQOcAJIcLMQA1npng5KayT1L8N2Ek77YgJuoA1CWbmoAlvbE=
  bucket: binaries.particle.io
  local-dir: installer/dist
  upload-dir: updater
  acl: public_read

cache:
  pip: true 
  directories:
   - /usr/local/opt/pyenv/versions/
