environment:
  enc_secret:
    secure: iBAwCL/1SI3W95nhf1Bx9gbh+ORu8dsPBD7G4bFdRhU=
  key_secret:
    secure: WBc0/0gRXwnK61Clw6HY0SAyEHSqFPYrScVBoXcjTUo=

  SIGNTOOL_PATH:  C:\Program Files (x86)\Microsoft SDKs\Windows\v7.1A\Bin\

  matrix:
  - PYTHON: "C:\\Python34"
    PYTHON_VERSION: "3.4.x" # currently 3.4.3
    PYTHON_ARCH: "32"

install:
  - nuget install secure-file -ExcludeVersion
  - secure-file\tools\secure-file -decrypt installer/windows_key.p12.appveyor.enc -out installer/windows_key.p12 -secret %enc_secret%
  - setup_appveyor.bat
  - install.bat

build: off

artifacts:
  - path: installer\dist\*.exe
    name: updater

deploy:
- release: $(APPVEYOR_REPO_TAG_NAME)
  description: 'Particle Firmware Manager release $(APPVEYOR_REPO_TAG_NAME)'
  provider: GitHub
  auth_token:
    secure: ra3kVtgote/ZaDOhGRJDeASq1xj+PB/ZX7UuBrnj0O+UCzf2pOJWdM2qszrhGKo0
  artifact: updater
  draft: false
  prerelease: false
  on:
    branch: master                 # release from master branch only
    appveyor_repo_tag: true        # deploy on tag push only


- provider: S3
  access_key_id: AKIAJGDGIKX75HBQ2AQA
  secret_access_key:
     secure: smag1BSchYfnIs6ahrSYfctog4Ov2mJNpErcSaPiNY4jcjKhB091HuUaqIb6COqV
  bucket: binaries.particle.io
  set_public: true
  folder: updater
  artifact: updater
