environment:
  enc_secret:
    secure: QP6LDEX47A0b2+MJGgbrtjSfv57oM4/0nYvav/4347Y=
  cer_secret:
    secure: m5jRlgWdc9K8n6cQNYxLiQ==
  SIGNTOOL_PATH:  C:\Program Files (x86)\Microsoft SDKs\Windows\v7.1A\Bin

  matrix:
  - PYTHON: "C:\\Python34"
    PYTHON_VERSION: "3.4.x" # currently 3.4.3
    PYTHON_ARCH: "32"

install:
  - nuget install secure-file -ExcludeVersion
  - secure-file\tools\secure-file -decrypt cert.p12.enc -secret %enc_secret%
  - setup_appveyor.bat
  - install.bat

artifacts:
  - path: installer/dist/particle_firmware_updater.exe
